<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="jmu.model.Product">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="shopid" jdbcType="VARCHAR" property="shopid" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="stock" jdbcType="VARCHAR" property="stock" />
    <result column="produc_packed" jdbcType="VARCHAR" property="produc_packed" />
  </resultMap>
  <insert id="insert" parameterType="jmu.model.Product">
    insert into product (id, name, img,
                         size, type, price,
                         shopid, color, stock,
                         produc_packed)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR},
            #{size,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR},
            #{shopid,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{stock,jdbcType=VARCHAR},
            #{produc_packed,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, img, size, type, price, shopid, color, stock, produc_packed
    from product
  </select>
  <select id="getOne" resultMap="BaseResultMap" parameterType="java.lang.String">
    select  id, name, img, size, type, price,shopid, color, stock,produc_packed
    from product where produc_packed=#{produc_packed,jdbcType=VARCHAR}
  </select>
  <select id="getStock" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT stock FROM product WHERE produc_packed=#{produc_packed,jdbcType=VARCHAR}
  </select>
  <select id="check" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    SELECT product_active FROM product_detail WHERE id=#{id,jdbcType=INTEGER}
  </select>
  <update id="updateStock" parameterType="jmu.model.Product">
    update product
    set
      stock=stock-1
    where produc_packed = #{produc_packed,jdbcType=VARCHAR}
  </update>
  <select id="getCost" resultType="java.lang.String" parameterType="java.lang.String">
    select  price
    from product where produc_packed=#{produc_packed,jdbcType=VARCHAR}
  </select>
  <update id="updateStock_add" parameterType="java.lang.String">
    update product
    set
      stock=stock+1
    where produc_packed = #{produc_packed,jdbcType=VARCHAR}
  </update>
</mapper>